<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Appointments List</h3>
        </div>
        <div class="d-flex bd-highlight mb-3">
          <div class="p-2 w-100 bd-highlight">

            <input matInput type="search" placeholder="Search" class="search-input" [(ngModel)]="searchUser">

          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">S.no</th>
                <th scope="col">Service Name</th>
                <th scope="col">Appointment Date</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">DOB</th>
                <th scope="col">Address</th>
                <th scope="col">Phone No.</th>
                <th scope="col">Comment</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of apptList | filter:searchUser | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                }; let i = index">
                <td>{{i+1}}</td>
                <td>{{item.service_name}} </td>
                <td>{{item.appointment_date}}</td>
                <td>{{item.u_full_name}}</td>
                <td>{{item.u_email}}</td>
                <td>{{item.u_dob}} </td>
                <td>{{item.u_address}}</td>
                <td>{{item.u_phone_number}}</td>
                <td>{{item.comment}}</td>
                <td><a class="icon" href="javascript:void(0)"></a><a class="btn btn-primary btn-sm"
                    href="javascript:void(0)" (click)="open(viewAppt,'edit',item)"><i class="fa fa-pencil"></i>
                    View</a><a class="icon" href="javascript:void(0)"></a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center">
          <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #viewAppt let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">View Appointments</strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <strong>Service Name</strong>
        <input type="text" formControlName="apptName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['apptName'].errors }" readonly />
        <div *ngIf="submitted && f['apptName'].errors" class="invalid-feedback">
          <div *ngIf="f['apptName'].errors['required']">Appointment is required</div>
          <div *ngIf="f['apptName'].errors['minlength']">
            Appointment must be at least 4 characters
          </div>

        </div>
      </div>
      <div class="form-group">
        <strong>Appoinment Date</strong>
        <input type="text" formControlName="apptDate" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['apptDate'].errors }" readonly />
        <div *ngIf="submitted && f['apptDate'].errors" class="invalid-feedback">
          <div *ngIf="f['apptDate'].errors['required']">Appointment Date is required</div>


        </div>
      </div>
      <div class="form-group">
        <strong>Full Name</strong>
        <input type="text" formControlName="fullName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['fullName'].errors }" readonly />
        <div *ngIf="submitted && f['fullName'].errors" class="invalid-feedback">
          <div *ngIf="f['fullName'].errors['required']">Full Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <strong>Email</strong>
        <input type="email" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" readonly />
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
        </div>
      </div>
      <div class="form-group">
        <strong>DOB</strong>
        <input type="text" formControlName="dob" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }" readonly />
        <div *ngIf="submitted && f['dob'].errors" class="invalid-feedback">
          <div *ngIf="f['dob'].errors['required']">DOB is required</div>
        </div>
      </div>

      <div class="form-group">
        <strong>Address</strong>
        <input type="text" formControlName="address" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['address'].errors }" readonly />
        <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
          <div *ngIf="f['address'].errors['required']">Address is required</div>
        </div>
      </div>
      <div class="form-group">
        <strong>Phone No.</strong>
        <input type="text" formControlName="phone_no" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['phone_no'].errors }" readonly />
        <div *ngIf="submitted && f['phone_no'].errors" class="invalid-feedback">
          <div *ngIf="f['phone_no'].errors['required']">Phone No. is required</div>
        </div>
      </div>
      <div class="form-group">
        <strong>Comment</strong>
        <textarea formControlName="comment" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['comment'].errors }" readonly></textarea>
        <div *ngIf="submitted && f['comment'].errors" class="invalid-feedback">
          <div *ngIf="f['comment'].errors['required']">Comment is required</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Ok</button>
      </div>
    </form>
  </div>
</ng-template>