<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Latest News</h5>
        </div>
        <div class="card-body custom-datatable">
          <div class="d-flex bd-highlight mb-3">
            <div class="p-2 w-100 bd-highlight">
              <input type="text"  placeholder="Type to filter the name column..." (keyup)="updateFilter($event)"  />
            </div>
            <div class="p-2 flex-shrink-2 bd-highlight"> <a href="javaScript:void(0);" class="btn btn-info"
                (click)="open('addService','',null)">Add News</a></div>
          </div>

          <ngx-datatable class="bootstrap" [rows]='newsList' [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="'auto'" [limit]="page.limit" [externalPaging]="true" [count]="page.count"
            [offset]="page.offset" (page)="datatablePageData($event)">

            <ngx-datatable-column name="Title">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.title}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Content">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <p [innerHtml]="row.content"></p>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Image">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <img [src]="row.image" *ngIf="row.image" width="40" height="40">
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Date">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.date}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class='font-success' *ngIf="row.status ==1">Active</div>
                <div class='font-danger' *ngIf="row.status ==0">InActive</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a class="icon" href="javascript:void(0)"></a><a class="btn btn-primary btn-sm"
                  href="javascript:void(0)" (click)="open('addService','edit',row)"><i class="fa fa-pencil"></i>
                  Edit</a>
                <a class="btn btn-success btn-sm" href="javascript:void(0)" *ngIf="row.status == 1"
                  (click)="changeStatus(row,0)">
                  <i class="fa fa-check" title="Make Inactive"></i></a>
                <a class="btn btn-danger btn-sm" href="javascript:void(0)" *ngIf="row.status == 0"
                  (click)="changeStatus(row,1)">
                  <i class="fa fa-times" title="Make Active"></i> </a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends -->