.icon-hover{
    cursor: pointer;
}

.example-full-width{
    width: 100%;
}
.container { position: relative; }
.container img { display: block; }
.container .fa-times { position: absolute; top:0; right:0; cursor : pointer;}