<div class="page-wrapper">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">     
        <div class="login-card">
          <div>
            <div class="login-main" *ngIf="showLoader"> 
              <form class="theme-form" [formGroup]="resetForm">
                <h4>Create Your Password</h4>
                <div class="form-group">
                  <label class="col-form-label">New Password</label>
                  <input class="form-control" [type]="show ? 'text' : 'password'" name="login[password]" required="" placeholder="*********" formControlName="password">
                  <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
                  <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>
                  <div *ngIf="resetForm.controls.password.touched && resetForm.controls.password.errors?.required"
                  class="text text-danger mt-1">
                  Password is required
                </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Confirm Password</label>
                  <input class="form-control" type="password" name="login[password]" required="" placeholder="*********" formControlName="confirmPass">
                  <div *ngIf="resetForm.controls.confirmPass.touched && resetForm.controls.confirmPass.errors?.required"
                  class="text text-danger mt-1">
                  Confirm Password is required
                </div>
                </div>
                <div class="form-group mb-0">
                  <button class="btn btn-primary btn-block" [class.loader--text]="authService.showLoader"
                  [disabled]="!resetForm.valid || authService.showLoader" type="button" (click)="createPass()">Done</button>
                </div>
              </form>
            </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>