<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Reviews

          </h3>
        </div>
        <div class="d-flex bd-highlight mb-3">
          <div class="p-2 w-100 bd-highlight">

            <input matInput type="search" placeholder="Search" class="search-input" [(ngModel)]="searchUser">

          </div>
          <div class="p-2 flex-shrink-2 bd-highlight"> <a href="javaScript:void(0);" class="btn btn-info"
              (click)="open(addService,'',null)">Add Reviews</a></div>

        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">S.no</th>
                <th scope="col">Review</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of newsList | filter:searchUser | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                }; let i = index">
                <td>{{i+1}}</td>
                <td>{{item.review}} </td>
                <td><img [src]="baseUrl+item.image" *ngIf="item.image" width="100" height="100"></td>

                <td class="row"><a class="icon" href="javascript:void(0)"></a><a class="btn btn-primary btn-sm"
                    href="javascript:void(0)" (click)="open(addService,'edit',item)"><i class="fa fa-pencil"></i>
                    Edit</a><a class="icon" href="javascript:void(0)"></a><a class="btn btn-danger btn-sm"
                    href="javascript:void(0)" (click)="open(delmodal,'',item)"><i class="fa fa-trash"></i> Delete</a>
                    <a class="btn btn-success btn-sm"
                    href="javascript:void(0)"  *ngIf="item.status == 1" (click)="changeStatus(item,0)">
                    <i class="fa fa-check" title="Make Inactive"></i></a>
                  <a class="btn btn-danger btn-sm"
                    href="javascript:void(0)"  *ngIf="item.status == 0" (click)="changeStatus(item,1)">
                    <i class="fa fa-times" title="Make Active"></i></a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center">
          <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #delmodal let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <h3>Are you sure you want to delete ?</h3>
  </div>
  <div class="modal-footer">
    <a href="javaScript:void(0);" class="btn btn-info" (click)="delete()">Yes</a>
    <a href="javaScript:void(0);" class="btn btn-info" (click)="modal.close('Save click')">No</a>
  </div>
</ng-template>

<ng-template #addService let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title" *ngIf="form_type!='edit'">Create Review</strong>
    <strong class="modal-title" id="modal-basic-title" *ngIf="form_type=='edit'">Update Review</strong>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <strong>Review</strong>
        <textarea type="text" formControlName="review" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['review'].errors }"></textarea>
        <div *ngIf="submitted && f['review'].errors" class="invalid-feedback">
          <div *ngIf="f['review'].errors['required']">Review is required</div>
          <div *ngIf="f['review'].errors['minlength']">
            Review must be at least 10 characters
          </div>

        </div>
      </div>
      <div *ngIf="form_type=='edit' && news_data != null && url != true">
        <img [src]="baseUrl+news_data.image" *ngIf="news_data.image" width="200" height="150">
      </div>
      <div class="form-group">
        <strong>Image</strong>
        <input type="file" (change)="selectFile($event)" formControlName="image" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form_type != 'edit' && f['image'].errors }">


        <div *ngIf="submitted && form_type != 'edit' && f['image'].errors" class="invalid-feedback">
          <div *ngIf="f['image'].errors['required']">Plesae choose the image.</div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block" *ngIf="form_type!='edit'">Create</button>
        <button class="btn btn-primary btn-block" *ngIf="form_type=='edit'">Update</button>
      </div>
    </form>
  </div>
</ng-template>