<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Reviews</h5>
        </div>
        <div class="card-body custom-datatable">
          <div class="d-flex bd-highlight mb-3">
            <div class="p-2 w-100 bd-highlight">
              <input type="text"  placeholder="Type to filter..." (keyup)="updateFilter($event)"  />
            </div>
            <div class="p-2 flex-shrink-2 bd-highlight"> <a href="javaScript:void(0);" class="btn btn-info"
                (click)="open(addService,'',null)">Add Reviews</a></div>
          </div>

          <ngx-datatable class="bootstrap" [rows]='newsList' [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="'auto'" [limit]="page.limit" [externalPaging]="true" [count]="page.count"
            [offset]="page.offset" (page)="datatablePageData($event)">

            <ngx-datatable-column name="Review">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.review}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Image">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <img [src]="row.image" *ngIf="row.image" width="40" height="40">
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class='font-success' *ngIf="row.status ==1">Active</div>
                <div class='font-danger' *ngIf="row.status ==0">InActive</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a class="icon" href="javascript:void(0)"></a><a class="btn btn-primary btn-sm"
                  href="javascript:void(0)" (click)="open(addService,'edit',row)"><i class="fa fa-pencil"></i>
                  Edit</a><a class="icon" href="javascript:void(0)"></a><a class="btn btn-danger btn-sm"
                  href="javascript:void(0)" (click)="open(delmodal,'',row)"><i class="fa fa-trash"></i> Delete</a>
                <a class="btn btn-success btn-sm" href="javascript:void(0)" *ngIf="row.status == 1"
                  (click)="changeStatus(row,0)">
                  <i class="fa fa-check" title="Make Inactive"></i></a>
                <a class="btn btn-danger btn-sm" href="javascript:void(0)" *ngIf="row.status == 0"
                  (click)="changeStatus(row,1)">
                  <i class="fa fa-times" title="Make Active"></i></a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends -->
<ng-template #delmodal let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <h3>Are you sure you want to delete ?</h3>
  </div>
  <div class="modal-footer">
    <a href="javaScript:void(0);" class="btn btn-info" (click)="delete()">Yes</a>
    <a href="javaScript:void(0);" class="btn btn-info" (click)="modal.close('Save click')">No</a>
  </div>
</ng-template>

<ng-template #addService let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title" *ngIf="form_type!='edit'">Create Review</h5>
    <h5 class="modal-title" id="modal-basic-title" *ngIf="form_type=='edit'">Update Review</h5>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Review</label>
        <textarea type="text" formControlName="review" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['review'].errors }"></textarea>
        <div *ngIf="submitted && f['review'].errors" class="invalid-feedback">
          <div *ngIf="f['review'].errors['required']">Review is required</div>
          <div *ngIf="f['review'].errors['minlength']">
            Review must be at least 10 characters
          </div>

        </div>
      </div>
      <div *ngIf="form_type=='edit' && news_data != null && url != true">
        <img [src]="news_data.image" *ngIf="news_data.image" width="200" height="150">
      </div>
      <div class="form-group">
        <label>Image</label>
        <input type="file" (change)="selectFile($event)" formControlName="image" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form_type != 'edit' && f['image'].errors }">


        <div *ngIf="submitted && form_type != 'edit' && f['image'].errors" class="invalid-feedback">
          <div *ngIf="f['image'].errors['required']">Plesae choose the image.</div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block" *ngIf="form_type!='edit'">Create</button>
        <button class="btn btn-primary btn-block" *ngIf="form_type=='edit'">Update</button>
      </div>
    </form>
  </div>
</ng-template>