<app-breadcrumb [title]="'Ecommerce'" [items]="['Dashboard']" [active_item]="'Ecommerce'"></app-breadcrumb>
<div class="container-fluid">
    <div class="row size-column">
        <div class="col-xl-7 box-col-12 xl-100">
            <div class="row dash-chart">
                <div class="col-xl-6 box-col-6 col-md-6">
                    <div class="card o-hidden">
                        <div class="card-header card-no-border">
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa-spin fa-cog"></i></li>
                                </ul>
                            </div>
                            <div class="media">
                                <div class="media-body">
                                    <p><span class="f-w-500 font-roboto">Total Services</span></p>
                                    <h4 class="f-w-500 mb-0 f-26"><span class="counter">{{dashboardList.total_services}}</span></h4>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="col-xl-6 box-col-6 col-md-6">
                    <div class="card o-hidden">
                        <div class="card-header card-no-border">
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa-spin fa-cog"></i></li>
                                </ul>
                            </div>
                            <div class="media">
                                <div class="media-body">
                                    <p><span class="f-w-500 font-roboto">Total Appointments</span></p>
                                    <h4 class="f-w-500 mb-0 f-26 counter">{{dashboardList.total_appointments}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 box-col-6 col-lg-12 col-md-6">
                    <div class="card o-hidden">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <p class="f-w-500 font-roboto"> Today's appointments </p>
                                    <div class="progress-box">
                                        <h4 class="f-w-500 mb-0 f-26"><span class="counter">{{dashboardList.total_todays_appointments}}</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 box-col-6 col-md-6">
                    <div class="card o-hidden">
                        <div class="card-header card-no-border">
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa-spin fa-cog"></i></li>
                                </ul>
                            </div>
                            <div class="media">
                                <div class="media-body">
                                    <p><span class="f-w-500 font-roboto">Total Active Services</span></p>
                                    <h4 class="f-w-500 mb-0 f-26"><span class="counter">{{dashboardList.total_active_services}}</span></h4>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="col-xl-6 box-col-6 col-md-6">
                    <div class="card o-hidden">
                        <div class="card-header card-no-border">
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa-spin fa-cog"></i></li>
                                </ul>
                            </div>
                            <div class="media">
                                <div class="media-body">
                                    <p><span class="f-w-500 font-roboto">Total Gallery images</span></p>
                                    <h4 class="f-w-500 mb-0 f-26 counter">{{dashboardList.total_gallery_images}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 box-col-6 col-lg-12 col-md-6">
                    <div class="card o-hidden">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <p class="f-w-500 font-roboto">Total Active Gallery images</p>
                                    <div class="progress-box">
                                        <h4 class="f-w-500 mb-0 f-26"><span class="counter">
                                            {{dashboardList.total_active_gallery_images}}</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt--7">
            <!-- Table -->
            <div class="row">
              <div class="col">
                <div class="card shadow">
                  <div class="card-header border-0">
                    <h3 class="mb-0">Latest News
          
                    </h3>
                  </div>
                  <div class="d-flex bd-highlight mb-3">
                    <div class="p-2 w-100 bd-highlight">
          
                      <input matInput type="search" placeholder="" class="search-input" [(ngModel)]="searchUser">
          
                    </div>
                
            </div>
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">S.no</th>
                          <th scope="col">Title</th>
                          <th scope="col">Image</th>
                          <th scope="col">Date</th>
                          <th scope="col">Content</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of dashboardList.latest_news | filter:searchUser | paginate
                        : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                          }; let i = index">
                          <td>{{i+1}}</td>
                          <td>{{item.title}} </td>
                          <td><img [src]="baseUrl+item.image_path+item.image" *ngIf="item.image" width="100" height="100"></td>
                          <td>{{item.date != null ?item.date:'N/A'}} </td>
                          <td>{{item.content}} </td>
                        </tr>
          
                      </tbody>
                    </table>
                  </div>
                  <div class="d-flex justify-content-center">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>